@media screen and (max-width: 520px) {
    /*
    スマホ時コンテンツ部の左右paddingはできるだけ少なくする
    */
    .page-content {
        padding: 1.5rem 0.5rem;
    }
    /*
    スマホ時card-bodyの左右paddingはできるだけ少なくする
    */
    .card-body {
        padding:1rem 0.5rem;
    }
}

/*
テーブルの列幅を固定する為にtableタグに付与するセレクター
*/
.table-layout-fixed {
    table-layout: fixed;
}

/*
テーブル行内の文字を上下中央揃えにする
*/
.table > tbody {
    vertical-align: middle !important;
}

/*
ステータスバッチ用のセレクター
*/
.bg-outline-success {
    color: #15ca20;
    border: 1px solid #15ca20;
    background-color: transparent !important;
}

.bg-outline-danger {
    color: #fd3550;
    border: 1px solid #fd3550;
    background-color: transparent !important;
}

.bg-outline-info {
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
    background-color: transparent !important;
}

/*
ページネーションのリンクボタンの角を丸くする
*/
.page-item .page-link {
    border-radius: 0.375rem !important;
}

/*
ページネーションで現在開いているページのリンクボタンを黒色にする
*/
.active>.page-link, .page-link.active {
    background-color: #212529 !important;
    border-color: #212529 !important;
}

/*
ページネーションの文字色を黒色にする
*/
.page-item:not(.active) .page-link {
    color: #212529 !important;
}