.logo {
    width: 32px;
    height: 32px;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
}

.nav-sm .navbar.nav_title a .logo {
    width: 40px;
    height: 40px;
    margin: 13px 0 7px 4px;
}

.top_nav .navbar-right li {
    position: relative;
}

.main_menu .fa-solid, .main_menu .fas {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-style: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 991px) {
    .right_col {
        padding: 10px 5px !important;
    }
}

/*
sweetalert2の黒背景の重なり調整
※デフォルトだとサイドバーの方が上に来てしまう為
*/
.swal2-container {
    z-index: 10000 !important;
}

/*
ポップオーバーのヘッダーにはデフォルトでマージンがあるので、その調整
*/
.popover-header {
    margin: 0 !important;
}

/*
ホバー時の背景色、枠線、文字色の変更
*/
.hover-dark:hover {
    background-color: #4B5F71;
    border-color: #364B5F;
    color: #fff;
}

.hover-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.hover-success:hover {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.hover-danger:hover {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

/*
横スクロール用のクラス
*/
.overflow-x-scroll {
    overflow-x: scroll;
}

/*
bootstrapのデフォルトのボタン色を変更
*/
.btn-success {
    background: #28a745 !important;
    border: 1px solid #28a745 !important;
}

/*
スマホ時のグレー背景の幅調整
※右マージンを0にすると画面レイアウトが崩れてしまう
*/
.right_col > .row {
    margin-left: 0 !important;
    margin-right: -1px !important;
}

/* 文字が長くなった時にはみ出た部分を点線表示にして省略 */
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ボタンの文字を折り返さない */
.btn {
    white-space: nowrap;
}
