html.semi-dark .sidebar-wrapper {
	background: #16181f;
	border-right: 1px solid #e4e4e400;
	box-shadow: 0 0 2rem 0 rgb(0 0 0 / 15%);
}
html.semi-dark .sidebar-wrapper .sidebar-header {
	background: #16181f;
	border-right: 1px solid #e4e4e400;
	border-bottom: 1px solid rgb(255 255 255 / 15%);
}
html.semi-dark .sidebar-wrapper .sidebar-header .logo-text {
	color: #e7e9ec;
}
html.semi-dark .sidebar-wrapper .sidebar-header .toggle-icon {
	color: #e7e9ec;
}
html.semi-dark .toggle-icon:hover {
	background-color: rgba(255, 255, 255, 0.12);
}
html.semi-dark .sidebar-wrapper .metismenu a {
	color: #9ea4aa;
}
html.semi-dark .sidebar-wrapper .metismenu a:hover,
html.semi-dark .sidebar-wrapper .metismenu a:focus,
html.semi-dark .sidebar-wrapper .metismenu a:active,
html.semi-dark .sidebar-wrapper .metismenu .mm-active>a {
	color: #fff;
	text-decoration: none;
	background: rgb(255 255 255 / 18%);
}
html.semi-dark .sidebar-wrapper .metismenu ul {
	border: 1px solid #ffffff00;
	background: rgb(255 255 255 / 8%);
}
html.semi-dark .simplebar-scrollbar:before {
	background: rgba(255, 255, 255, 0.40);
}
html.semi-dark .logo-icon {
	filter: invert(1) grayscale(100%) brightness(200%);
}
/* Minimal Theme */


html.minimal-theme .topbar .top-menu-left .nav-item .nav-link:hover,

html.minimal-theme .topbar .top-menu-left .nav-item .nav-link:focus,

html.minimal-theme .topbar .navbar .navbar-nav .nav-link:hover,

html.minimal-theme .topbar .navbar .navbar-nav .nav-link:focus {

	background-color: rgb(255, 255, 255);

    color: #252525 !important;

}

html.minimal-theme .topbar.dash-header .nav-link {
    color: #252525 !important;
}

html.minimal-theme .topbar.dash-header .user-info .user-name {
    color: #252525 !important;
}

html.minimal-theme .topbar {
	background: #f0f0f0;
	border-bottom: 1px solid #dee2e6;
	box-shadow: none !important
}
html.minimal-theme .topbar .search-control {
	background-color: #ffffff;
	border: 1px solid #dee2e6;
}
html.minimal-theme .topbar .user-box {
	border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}
html.minimal-theme .sidebar-wrapper {
	background: #f0f0f0;
	border-right: 1px solid #dee2e6;
	box-shadow: none !important
}
html.minimal-theme .sidebar-header {
	background: #f0f0f0;
	border-bottom: 1px solid #dee2e6;
	background-clip: padding-box;
}
html.minimal-theme .sidebar-wrapper .metismenu ul {
    border: 1px solid #dee2e6;
    background: #f0f0f0;
}
@media screen and (min-width: 1025px) {
	html.minimal-theme .wrapper.toggled.sidebar-hovered .sidebar-wrapper {
		box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .12)!important;
	}
}