.logo {
    width: 32px;
    height: 32px;
    border: 1px solid #EAEAEA;
    border-radius: 50%;
}

.nav-sm .navbar.nav_title a .logo {
    width: 40px;
    height: 40px;
    margin: 13px 0 7px 4px;
}

.top_nav .navbar-right li {
    position: relative;
}

.main_menu .fa-solid, .main_menu .fas {
    width: 26px;
    opacity: .99;
    display: inline-block;
    font-style: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
}

@media screen and (max-width: 991px) {
    .right_col {
        padding: 10px 5px !important;
    }
}

/*
sweetalert2の黒背景の重なり調整
※デフォルトだとサイドバーの方が上に来てしまう為
*/
.swal2-container {
    z-index: 10000 !important;
}
